@charset "utf-8";

/*-----------Basic Reset---------------*/

* {
    margin: 0; 
    padding: 0;
    outline: 0;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
    font: inherit;   
}

html, body {
    height: 100%;
}

body {
    font-family: "Lato", "Open Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    background-color: #000080;
}

li {
    list-style: none;
}

/*----------------Main CSS-------------------*/
main {
    height: 100%;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.content-head {
    padding-top: 20px;
    height: 60px;
}

li {
    font-size: 18px;
    color: #000080;
    background-color: #f6f6ff;
    padding: 10px 30px;
    border-radius: 4px;
    font-weight: 600;
}

h1 {
    font-size: 40px;
    color: #f6f6ff;
    margin-bottom: 40px;
}

form {
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form p {
    color: #f6f6ff;
    font-size: 20px;
}

.result {
    font-size: 17px;
    background-color: rgb(92, 92, 137);
    padding: 10px;
    border-radius: 4px;
}

input {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #000080;
}

button {
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #000080;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}